= form_for(@evaluation) do |f|
  - if @evaluation.errors.any?
    #error_explanation
      %h2
        = pluralize(@evaluation.errors.count, "error")
        prohibited this evaluation from being saved:
      %ul
        - @evaluation.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :exam_id
    = f.number_field :exam_id
  .field
    = f.label :score
    = f.number_field :score
  .field
    = text_field_tag 'kid_email'
  .actions
    = f.submit
