%p#notice= notice
%h1 Listing Evaluations
%table
  %thead
    %tr
      %th Exam
      %th{:colspan => "3"}
  %tbody
    - @evaluations.each do |evaluation|
      %tr
        %td= evaluation.exam
        %td= link_to 'Show', evaluation
        %td= link_to 'Edit', edit_evaluation_path(evaluation)
        %td= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Evaluation', new_evaluation_path
