%p#notice= notice
%h1 Listing Options
%table
  %thead
    %tr
      %th Sentence
      %th Option
      %th Correct
      %th{:colspan => "3"}
  %tbody
    - @options.each do |option|
      %tr
        %td= option.sentence
        %td= option.option
        %td= option.correct

%br/
= link_to 'New Option', new_exam_paragrah_sentence_option_path
