%p#notice= notice
%h1 Listing Answer Paragraphs
%table
  %thead
    %tr
      %th Option
      %th Evaluation
      %th Sentence
      %th{:colspan => "3"}
  %tbody
    - @answer_paragraphs.each do |answer_paragraph|
      %tr
        %td= answer_paragraph.option
        %td= answer_paragraph.evaluation
        %td= answer_paragraph.sentence
        %td= link_to 'Show', answer_paragraph
        %td= link_to 'Edit', edit_answer_paragraph_path(answer_paragraph)
        %td= link_to 'Destroy', answer_paragraph, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Answer paragraph', new_answer_paragraph_path
