= form_for @paragrah, @path do |f|
  - if @paragrah.errors.any?
    #error_explanation
      %h2
        = pluralize(@paragrah.errors.count, "error")
        prohibited this paragrah from being saved:
      %ul
        - @paragrah.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :exam_id
    %br/
    = f.text_field :exam_id
  .actions
    = f.submit
