%p#notice= notice
%p
  %strong Age:
  = @exam.age
= link_to 'Edit', edit_exam_path(@exam)
|
= link_to 'Back', exams_path

= link_to 'Paragraphs', exam_paragrahs_path(@exam.id)

= link_to 'Multi', exam_multiple_choices_path(@exam.id)

= link_to 'Match', exam_matches_path(@exam.id)
